---
import { Image } from "astro:assets";
import DetailHeader from "../../components/DetailHeader.astro";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import CallToAction from "../../components/CallToAction.astro";

//输入文件夹地址，会按文件名自动加载全部，并压缩为webp格式
const images = await Astro.glob('../../assets/projects/29-31-ct06/*.{jpg,png,webp}');


---
<DetailPostLayout
	title="CT06 电商详情页"
	description = '	CT06 是一个产品详情页的项目，我负责设计了该产品的详情页。这个详情页的设计旨在提供用户友好的购物体验，同时突出产品的特点和优势。通过精心设计的布局、清晰的产品信息展示以及吸引人的视觉元素。	',
	keywords = 'CT06, 电商详情页, 产品详情页',
>
	<div class="post">
		<main class="post-wrapper">
			<DetailHeader
			tag="电商"
			description="">
					<h1 class="font-type">
						CT06 电商详情页
					</h1>
			</DetailHeader>
			<div class="content">
					<div class="row desc">
						<div class="col-1a">
							<h3 class="post-title">CT06, 电商详情页, 产品详情页</h3>
							<p class="post-desc">
								CT06是一个产品详情页的项目，我负责设计了该产品的详情页。
							</p>
							<p class="post-desc">
								这个详情页的设计旨在提供用户友好的购物体验，同时突出产品的特点和优势。通过精心设计的布局、清晰的产品信息展示以及吸引人的视觉元素。
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="preview">
				{images.map((img, index) => (
					<picture class="gsap-picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
img{
	border:0px solid #ececec;
}
.btn{
	display: flex;
	gap: 16px;
}
</style>
