---
import { Image } from "astro:assets";
import DetailHeader from "../../components/DetailHeader.astro";
import DetailPostLayout from "../../layouts/DetailPostLayout.astro";
import CallToAction from "../../components/CallToAction.astro";

//输入文件夹地址，会按文件名自动加载全部，并压缩为webp格式
const images = await Astro.glob('../../assets/projects/49-56-marketing/*.{jpg,png,webp}');


---
<DetailPostLayout
	title="	品牌营销物料"
	description = '	品牌营销物料是为提升品牌知名度和市场影响力而设计的一系列视觉材料。这些物料包括宣传海报、社交媒体内容等，旨在通过统一的视觉风格和信息传达，增强消费者对品牌的认知和信任。	',
	keywords = '品牌营销物料, 品牌宣传, 视觉设计',
>
	<div class="post">
		<main class="post-wrapper">
			<DetailHeader
			tag="营销"
			description="">
					<h1 class="font-type">
						品牌营销物料
					</h1>
			</DetailHeader>
			<div class="content">
					<div class="row desc">
						<div class="col-1a">
							<h3 class="post-title">品牌营销物料, 品牌宣传, 视觉设计</h3>
							<p class="post-desc">
								品牌营销物料是为提升品牌知名度和市场影响力而设计的一系列视觉材料。
							</p>
							<p class="post-desc">
								这些物料包括宣传海报、社交媒体内容等，旨在通过统一的视觉风格和信息传达，增强消费者对品牌的认知和信任。
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="preview">
				{images.map((img, index) => (
					<picture class="gsap-picture">
					  <Image src={img.default} alt={`Image ${index + 1}`}   loading="lazy" decoding="async" />
					</picture>
				  ))}
			</section>
		</main>
	</div>
</DetailPostLayout>

<style>
img{
	border:0px solid #ececec;
}
.btn{
	display: flex;
	gap: 16px;
}
</style>
